.timesheet th{padding:3px;text-align:right;vertical-align:top;}
.timesheet th.day span.number{color:#999999;font-weight:normal;font-size:90%;}
.timesheet td.total.col{border-top:2px solid #000000;}
.timesheet td.total.row{border-left:2px solid #000000;}
.timesheet td input,.timesheet td.total,.timesheet td.hours{padding-right:2px;text-align:right;}
.timesheet td.grand{
border-top:2px solid #000000;
border-left:2px solid #000000;
}
.timesheet .today{background:#b3cce6;}
.timesheet .highlight{background:#ffffcc;}
.timesheet .highlight.current{background:#ffff66;}
.timesheet input.form-text.error,.timesheet .highlight.current input.error{
border:2px solid #ff0000;
color:#ff0000;
background:#ffffff;
}
.timesheet .total{font-weight:bold;}
.timesheet-date-range .form-item{float:left;padding:0;margin:0 0 0 1em;}
.timesheet-date-range{
width:26em;
float:left;
border:1px solid #cccccc;
margin-right:2em;
padding:.5em;
background:#eeeeee;
}
